.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--ni-nimble-large-padding);
  padding: var(--ni-nimble-large-padding);
  background: var(--app-background);
}

.shell__workspace {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.shell__tabs-bar {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 var(--ni-nimble-small-padding);
  border-bottom: 1px solid var(--ni-nimble-divider-background-color);
}

.shell__tabs {
  height: 100%;
}

.shell__content {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

@media (max-width: 720px) {
  .shell {
    padding: var(--ni-nimble-medium-padding);
  }

}
