class Slcli < Formula
  desc "SystemLink Integrator CLI: Manage SystemLink test plan templates and workflows"
  homepage "https://github.com/ni-kismet/systemlink-cli"
  version "{{ version }}"
  license "MIT"

  on_macos do
    on_intel do
      url "https://github.com/ni-kismet/systemlink-cli/releases/download/v{{ version }}/slcli-macos-15-intel.tar.gz"
      sha256 "{{ sha256_macos_intel }}"
    end

    on_arm do
      url "https://github.com/ni-kismet/systemlink-cli/releases/download/v{{ version }}/slcli-macos.tar.gz"
      sha256 "{{ sha256_macos }}"
    end
  end

  on_linux do
    url "https://github.com/ni-kismet/systemlink-cli/releases/download/v{{ version }}/slcli-linux.tar.gz"
    sha256 "{{ sha256_linux }}"
  end

  def install
    libexec.install Dir["*"]
    bin.install_symlink libexec/"slcli"
  end

  test do
    system "#{bin}/slcli", "--help"
  end
end
