class Slcli < Formula
  desc "SystemLink Integrator CLI: Manage SystemLink test plan templates and workflows"
  homepage "https://github.com/ni-kismet/systemlink-cli"
  url "https://github.com/ni-kismet/systemlink-cli/releases/download/v{{ version }}/slcli.tar.gz"
  version "{{ version }}"
  sha256 "{{ sha256 }}"
  license "MIT"

  def install
    libexec.install Dir["*"]
    bin.install_symlink libexec/"slcli"
  end

  test do
    system "#{bin}/slcli", "--help"
  end
end
