{
    "version": "{{ version }}",
    "description": "SystemLink Integrator CLI",
    "homepage": "https://github.com/ni-kismet/systemlink-cli",
    "license": "MIT",
    "architecture": {
        "64bit": {
            "url": "{{ url }}",
            "hash": "{{ sha256 }}"
        }
    },
    "extract_dir": "slcli",
    "bin": "slcli.exe",
    "checkver": {
        "github": "https://github.com/ni-kismet/systemlink-cli"
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": "https://github.com/ni-kismet/systemlink-cli/releases/download/v$version/slcli.zip"
            }
        }
    }
}
